<!-- Services Section -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">WELCOMING REMARKS
                </h2>
            </div>
        </div>
        <div class="row container">
            <p>
                <center>
                    <img src="{{ site.baseurl }}/css/2017_style/img/logos/rdkit-logo.png" width="40%" alt="icon-intro">
                </center>
            </p>
            <p>
                This year's 1st RDKit User Group Meeting JP will take place 10 June in Tokyo, Japan and is being hosted
                by hosted by <a href="http://rdkit-users.jp/">rdkit-users.jp</a>, located at the <a
                    href="http://www.cictokyo.jp/access.html">Campus
                    Innovation Center Tokyo</a>.<br><br>

                We are looking for people who are willing to do presentations, posters on the day. If you're insterested
                in contributing, please register from <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLScM2XSpFUQ2vTn1E09FHXqM5wJ0QqU4V2d_nlGGDRzX1mtJew/viewform">contact
                    form</a>.
            </p>
            <p class="text-center">You can get ticket via peatix</p>
            <center><a href=" #" class="page-scroll btn btn-xl">Registration is coming soon</a></center>
        </div>
    </div>
</section>
