<!-- Services Section -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">WELCOMING REMARKS
                </h2>
            </div>
        </div>
        <div class="row container">
            <p>
                <center>
                    <img src="{{ site.baseurl }}/css/2017_style/img/logos/rdkit-logo.png" width="40%" alt="icon-intro">
                </center>
            </p>
            <p><b>
                    Unfortunately, due to the influence of COVID-19, which is spreading worldwide, We have decided to
                    cancel
                    the scheduled RDKit UGM JP 2020 this year. We deeply apologize to everyone who was planning to
                    participate in RDKit UGM JP 2020.
                </b></p>
            <p><s>
                    RDKit User Group Meeting JP #1 will take place 10 June at <a
                        href="https://www.titech.ac.jp/english/maps/tamachi/" target="_blank" rel="noopener noreferrer">
                        Tokyo Tech Campus Innovation Center</a> on <a
                        href="https://www.titech.ac.jp/english/maps/#tamachi" target="_blank"
                        rel="noopener noreferrer">Tokyo Tech Tamachi Campus</a> in
                    Tokyo.
                </s></p>
            <center><a href="#" class="page-scroll btn btn-xl">Registration
                    closed</a></center>
        </div>
    </div>
</section>
