<!-- Services Section -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">WELCOMING REMARKS
                </h2>
            </div>
        </div>
        <div class="row container">
            <p>
                <center>
                    <img src="{{ site.baseurl }}/css/2017_style/img/logos/rdkit-logo.png" width="40%" alt="icon-intro">
                </center>
            </p>
            <p>
                RDKit User Group Meeting JP #1 will take place 10 June at <a
                    href="https://www.titech.ac.jp/english/maps/tamachi/" target="_blank" rel="noopener noreferrer">
                    Tokyo Tech Campus Innovation Center</a> on <a href="https://www.titech.ac.jp/english/maps/#tamachi"
                    target="_blank" rel="noopener noreferrer">Tokyo Tech Tamachi Campus</a> in
                Tokyo.
            </p>
            <p class="text-center">You can get a ticket via peatix</p>
            <center><a href="https://rdkit-users-jp-ugm2020.peatix.com/" class="page-scroll btn btn-xl">Registration
                    from Peatix</a></center>
            <p>
                We are looking for people who are willing to do presentations, posters on the day. If you're
                insterested in contributing, please register from contact form.
            </p>
            <center><a href="#registration" class="page-scroll btn btn-xl">Tell me more</a></center>
        </div>
    </div>
</section>
