<section id="registration">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Presentation Registration
                </h2>
            </div>
        </div>
        <div class="row container">
            <p>
                We are looking for people who are willing to do presentations, posters on the day. If you're
                insterested in contributing, please register from below button.
            </p>
            <p>
                Title and abstract are required for both oral and poster presentations.
                Your title and abstract will be posted on the site when adopted.

            </p>
            <p>
                <h3 class="section">Presentation Format</h3>
            </p>
            <ul class="row">
                <li>Oral presentation (20 min followed by 5 min for Q&A)</li>
                <li>Oral presentation (15 min followed by 5 min for Q&A)</li>
                <li>Poster presentation (Sized A0)</li>
                *The presentation format may not always be what you want.
            </ul>
            <center><a
                    href="https://docs.google.com/forms/d/e/1FAIpQLScM2XSpFUQ2vTn1E09FHXqM5wJ0QqU4V2d_nlGGDRzX1mtJew/viewform"
                    class="page-scroll btn btn-xl">Presentation Registration</a></center>
        </div>
    </div>
</section>
